* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
body {
	background-image: linear-gradient(to bottom, #2d46c560, #f8f5f5);
	background-repeat: no-repeat;
	background-size: 100% 80%;
		margin: 7rem;

}

h1 {
	font-size: 45px;
	font-weight: 900;
}

.title-block {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	font-weight: 500;
	font-style: normal;
}

.title-block span {
	margin: 1rem 0;
}

.space-key {
	font-size: larger;
	font-weight: 400;
}
main {
	
	margin-top: 5rem;
}
.generated-color {
	border: solid 0.5px rgba(24, 24, 24, 0.678);
	position: relative;
	display: flex;
	align-items: center;
	height: fit-content;
	width: fit-content;
	border-radius: 0.3rem;
	background-color: #f8f5f5;
}

.generated-colors label {
	width: 20px;
	height: 20px;
	border-radius: 0.2rem;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	margin-inline: 0.5rem;
	border: solid 0.5px #333333ad;
}

.generated-color1 label {
	background-color: #0b1a5d;
}
.generated-color2 label {
	background-color: #464852;
}
.generated-color3 label {
	background-color: #d1d1de;
}
.generated-colors label:hover {
	transform: scale(1.03);
}

.copy {
	background-color: #576fdb;
	border-radius: 0.2rem;
	cursor: pointer;
	color: #fcfcfd;
	border: none;
	margin: 0.3rem 0.6rem 0.3rem 5rem;
	
	padding: 6px 18px;
display: flex;
justify-content: center;
	max-width: 70px;
}
label .copy:hover {
	transition: 0.2s ease-in-out;
	background-color: #fff;
	color: #000;
}

.color-value {
	text-align: left;
	color: #2c2a2a;
	font-weight: 500;
	font-size: 20px;
}

input[type='color'] {
	position: absolute;
	left: 1%;
	top: 40%;
	visibility: hidden;
}

.generated-colors {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}

.color-title {
	color: #2c2a2a;
}

.generated-color-palette {
display: flex;
justify-content: center;
flex-direction: column;
margin: 5rem;

}

.titles {
	display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;

}

.numbers{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1rem;

}

.colors {
	display: flex;
    flex-direction: row;
			flex-wrap: wrap;
}

.color {
	width:90px;
	height: 50px;
	background-color: #0b1a5d;
	margin: 1.5px;
	border-radius: 2px;
}
