* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
body {
	background-image: linear-gradient(to bottom, #657df46a, #f8f5f5);
	background-repeat: no-repeat;
	background-size: 100% 40%;
	margin: 7rem;
}

h1 {
	font-size: 45px;
	font-weight: 900;
	letter-spacing: -1px;
}

.title-block {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	font-weight: 500;
	font-style: normal;
}

.title-block span {
	margin: 1rem 0;
}

.space-key {
	font-size: larger;
	font-weight: 400;
}
main {
	margin-top: 5rem;
}
.generated-color {
	border: solid 0.5px rgba(73, 73, 73, 0.678);
	position: relative;
	display: flex;
	align-items: center;
	height: fit-content;
	width: fit-content;
	border-radius: 0.3rem;
	background-color: #f8f5f5;
}

.generated-colors label {
	width: 20px;
	height: 20px;
	border-radius: 0.2rem;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	margin-inline: 0.5rem;
	border: solid 0.5px #5655558e;
}

.generated-color1 label {
	background-color: #0b1a5d;
}
.generated-color2 label {
	background-color: #464852;
}
.generated-color3 label {
	background-color: #d1d1de;
}

.copy {
	background-color: #576fdb;
	border-radius: 0.2rem;
	cursor: pointer;
	color: #fcfcfd;
	border: none;
	margin: 0.3rem 0.6rem 0.3rem 9rem;
	padding: 6px 18px;
	display: flex;
	justify-content: center;
	max-width: 70px;
}

.color-value {
	color: #2c2a2a;
	font-weight: 500;
	font-size: 20px;
	padding-left: 30px;
	margin-bottom: 10px;
}

input[type='color'] {
	position: absolute;
	left: 1%;
	top: 40%;
	visibility: hidden;
}

.generated-colors {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}

.color-title {
	color: #2c2a2a;
	font-weight: 500;
}
.color-with-title span {
	position: relative;
	bottom: 5px;
}

.color-with-title p {
	position: relative;
	bottom: 3px;
}
.generated-color-palette {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 5rem;
}

.titles {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.numbers {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	margin-top: 1rem;
}
.number {
	font-weight: 400;
	display: flex;
	justify-content: center;
}
.title-colors {
	display: flex;
	justify-content: center;
	font-weight: 400;
	padding-bottom: 0.5rem;
	border-bottom: #2c2a2a 1px solid;

	border-bottom: 1px solid;
	border-image: radial-gradient(circle at center, #434343aa, #0000ff00) 1;
}

.colors {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.color {
	width: 91.5px;
	height: 50px;
	background-color: #0b1a5d;
	margin: 1.5px;
	border-radius: 2px;
}

.color:hover {
	border: 2px solid #0f0d0d;
	scale: 1.03;
}

img {
	height: 35px;
}

.examples {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-inline: 2rem;
	gap: 2rem;
}

.sign-up-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 45%;
	padding: 2rem;

	background: radial-gradient(
			circle 200px at right bottom,
			#214dec51,
			transparent
		),
		radial-gradient(circle 400px at left, #0367a54a, transparent),
		radial-gradient(circle 400px at right top, #0367a53e, transparent);
}

.sign-up-block {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: solid 0.5px #5655558e;
	padding: 2rem;
	border-radius: 10px;
	width: 90%;
	background-color: #f8f5f581;
	padding-top: 0.5rem;
}
.sign-up-title {
	margin-bottom: 1rem;
	margin-top: 1.8rem;
	font-size: 1.9rem;
}
.sign-up-block input {
	border: solid 0.5px #5655558e;
	border-radius: 4px;
	height: 2.2rem;
	background-color: #f9f4f4ea;
	padding-left: 10px;
}

.title-input {
	display: flex;
	flex-direction: column;
	margin: 1.5rem 0;
}
.inputs-block {
	width: 90%;
}

.create-acc-btn {
	width: 100%;
	height: 2.3rem;
	border: transparent solid;
	border-radius: 4px;
	margin-top: 10px;
	background-color: #576fdb;
}

.title-input span {
	margin-bottom: 7px;
}

.line {
	width: 40%;
	position: relative;
	top: 2rem;
	border: none;
	border-bottom: solid 0.7px #5655558e;
}
.line1 {
	position: relative;
	right: 6rem;
}

.line2 {
	position: relative;
	left: 6rem;
}
.or {
	padding-top: 1.3rem;
	z-index: 2;
	width: 4rem;
	display: flex;
	justify-content: center;
}

.google-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 0.5px #5655558e;
	border-radius: 4px;
	margin-top: 25px;
	height: 2.3rem;
	width: 90%;
	background-color: #f9f4f4ea;
	font-size: 15px;
}

.chose-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	position: relative;
	left: 10px;
}

.example-block {
	padding: 2rem;
	display: flex;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	width: 45%;
	gap: 2rem;
	padding-top: 2rem;
}

.option {
	border-bottom: #e0e0e0 solid 2px;
	padding-inline: 2.2rem;
	margin-inline: -1rem;
	padding-bottom: 0.5rem;
}
.radio-option:checked+.option{
	border-color: #3a1acb ;
}
.radio-option {
  opacity: 0;
	
}
.search-field {
	display: flex;
	align-items: center;
	width: 65%;
}
.search-field input {
	padding: 1rem 1rem 1rem 3rem;
	background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%235655558e" class="w-6 h-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" /%3E%3C/svg%3E')
		no-repeat left;
	background-size: 20px;
	background-position: 5px center;
	border-radius: 4px;
	outline: none;
	border: solid 0.5px #5655558e;
	height: 2.2rem;
	width: 100%;
}

.search {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.example-btn {
	width: 30%;
	height: 2.3rem;
	border: transparent solid;
	border-radius: 4px;
	margin-top: 10px;
	background-color: #576fdb;
	position: relative;
	bottom:5px;
}
.error {
	position: relative;
	left: 3rem;
	background-color: #576fdb4f;
	white-space: nowrap;
	width: 80%;
	border-radius: 7px;
	color: #ffffff;
	height: 70px;
	display: flex;
	align-items: center;
		padding: 1.5rem 0;
	padding-left: 1rem;
}

.error-text {
	font-weight: 500;
	color: #576fdb;
	opacity: 1;
	padding-left: 1rem;
}

.i-error span {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 500;
}
.i-error {
	border: 1.6px white solid;
	border-radius: 50%;
	width: 18px;
	height: 18px;
}
input {
	font-weight: 500;
	font-size: 15px;
}

button {
	color: #e9e9ee;
	font-size: 15px;
}

.user-images div {
	border-radius: 50%;
	height: 43px;
	width: 43px;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 1 4;
	color: #e9e9ee;
	font-weight: 700;
}

.user-images-gray{
	background-color: #464852;
}
.user-images-color{
	background-color: #576fdb;

}

.user-images div svg {
	height: 25px;
	width: 25px;
}

.user-images {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1rem;
}

.images-checkboxes {
	display: flex;
}

.chekboxes {
	padding-left: 2rem;
	margin-top: -2px;
}

.checkbox {
	margin: 0.6rem 0;
}

.input-label {
	font-size: 15px;
	position: relative;
	bottom: 4px;
}
input[type='checkbox'] {
	accent-color: #576fdb;
	width: 20px;
	height: 20px;
}

input[type='checkbox']:checked {
	background: #abd;
}

input[type='checkbox']:checked + label {
	text-decoration: line-through;
}

a {
	text-decoration: none;
	color: #576fdb;
	font-weight: 500;

}

.text1{
margin-top: 1rem;
border-left: #576fdb solid 4px;
	padding-left: 1.5rem;
font-weight: 500;
line-height: 25px;
}

.text2{
color: #444343;
	margin-top: 1rem;
	padding-left: 1.5rem;
border-left: #444343 solid 4px;
font-weight: 500;
line-height: 25px;
}

.text2 a{
	color: #000000;
}

