* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
body {
	background-image: linear-gradient(to bottom, #657df46a, #f8f5f5);
	background-repeat: no-repeat;
	background-size: 100% 60%;
	margin: 7rem;
}

h1 {
	font-size: 45px;
	font-weight: 900;
	letter-spacing: -1px;
}

.title-block {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	font-weight: 500;
	font-style: normal;
}

.title-block span {
	margin: 1rem 0;
}

.space-key {
	font-size: larger;
	font-weight: 400;
}
main {
	margin-top: 5rem;
}
.generated-color {
	border: solid 0.5px rgba(73, 73, 73, 0.678);
	position: relative;
	display: flex;
	align-items: center;
	height: fit-content;
	width: fit-content;
	border-radius: 0.3rem;
	background-color: #f8f5f5;
}

.generated-colors label {
	width: 20px;
	height: 20px;
	border-radius: 0.2rem;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	margin-inline: 0.5rem;
	border: solid 0.5px #5655558e;
}

.generated-color1 label {
	background-color: #0b1a5d;
}
.generated-color2 label {
	background-color: #464852;
}
.generated-color3 label {
	background-color: #d1d1de;
}

.copy {
	background-color: #576fdb;
	border-radius: 0.2rem;
	cursor: pointer;
	color: #fcfcfd;
	border: none;
	margin: 0.3rem 0.6rem 0.3rem 9rem;
	padding: 6px 18px;
	display: flex;
	justify-content: center;
	max-width: 70px;
}

.color-value {
	color: #2c2a2a;
	font-weight: 500;
	font-size: 20px;
	padding-left: 30px;
	margin-bottom: 10px;
}

input[type='color'] {
	position: absolute;
	left: 1%;
	top: 40%;
	visibility: hidden;
}

.generated-colors {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}

.color-title {
	color: #2c2a2a;
	font-weight: 500;
	
}
.color-with-title span{
position: relative;
bottom:5px}

.color-with-title p{
	position: relative;
  bottom:3px;
}
.generated-color-palette {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 5rem;
}

.titles {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.numbers {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	margin-top: 1rem;
}
.number{
	font-weight: 400;
display: flex;
justify-content: center;
}
.title-colors{
	display:flex;
	justify-content: center;
	font-weight: 400;
	padding-bottom: 0.5rem;
border-bottom: #2c2a2a  1px solid;

    border-bottom: 1px solid;
    border-image: radial-gradient(circle at center, #434343aa, #0000ff00) 1;

}


.colors {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.color {
	width: 91.5px;
	height: 50px;
	background-color: #0b1a5d;
	margin: 1.5px;
	border-radius: 2px;
}

.color:hover{
	border: 2px solid #0f0d0d;
	scale: 1.03;
}